button {
  border-radius: 5px;
  padding: 5px 10px;
  height: 30px;
  min-width: 30px;

  &:hover {
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
    }
  }
}

.primary {
  color: white;
  background: #1ea7fd;
}

.primary.disabled {
  background: #0d74b4;
}

button:hover.primary {
  background: #0d74b4;
}

.secondary {
  color: white;
  background: #66bf3c;
}

.secondary.disabled {
  background: #468d24;
}

button:hover.secondary {
  background: #468d24;
}
